<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {% include header.html %}
                <div class="inner cover">
                    <h1 class="cover-heading">{{ site.title }}</h1>
                    <p class="lead">
                    Friday June 30, 2017<br/>
                    6:00 PM at Auletto Caterers<br/>
                    1849 Cooper Street<br/>
                    Almonesson, NJ 08096
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
